- content_for :javascripts do
  = javascript_include_tag "upgrader"

.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        %h2
          = t("installer.upgrades.header", product: branding_config.page_title)

      .panel-plain.wizard
        = render partial: "nav", locals: { active: :finishing }

        .wizard-body.col-lg-9
          %h2
            = t(".header")

          %p
            = t(".description")

          .alert.alert-danger.hidden
            = icon_tag "exclamation", "", class: "fa-fw"
            %span.message

          .alert.alert-success.hidden
            = icon_tag "check",
              t(".finished"),
              class: "fa-fw"

          .upgrade{ data: { nodes_check: true } }
            .col-lg-4.text-center.text-success
              %h2
                %strong{ data: { total: "" } }
                  = all_non_admin_nodes_count
              %p
                = t(".total_nodes")

            .col-lg-4.text-center.text-info
              %h2
                %strong{ data: { left: "" } }
                  = upgrading_nodes_count
              %p
                = t(".left_nodes")

            .col-lg-4.text-center.text-danger
              %h2
                %strong{ data: { failed: "" } }
                  = failed_nodes_count
              %p
                = t(".failed_nodes")


      .panel-footer
        .row
          .col-lg-3
            = progress_steps @current_step, @min_step, @max_step

          .col-lg-9.text-right
            .btn-group{ role: "group" }
              .processing
                = link_to icon_tag(:spin, t(".processing"), class: "fa-fw fa-spinner"),
                  "#",
                  class: "btn btn-primary disabled"
              .continue.hidden
                = link_to icon_tag(:check, t(".continue")),
                  index_barclamp_path(controller: "openstack"),
                  class: "btn btn-success"
