.row
  .col-lg-12
    = form_tag repos_upgrade_path, method: "post" do
      .panel.panel-default
        .panel-heading
          %h2
            = t("installer.upgrades.header", product: branding_config.page_title)

        .panel-plain.wizard
          = render partial: "nav", locals: { active: :repos }

          .wizard-body.col-lg-9
            %h2
              = t(".header")

            %p
              = t(".description")

            %p
              - if upgrade_ceph_repo_needed?
                - if upgrade_ceph_repo?
                  .alert.alert-success
                    = icon_tag "check",
                      t(".ceph_repo_present"),
                      class: "fa-fw"
                - else
                  .alert.alert-danger
                    = icon_tag "exclamation",
                      t(".ceph_repo_missing"),
                      class: "fa-fw"

              - if upgrade_ha_repo_needed?
                - if upgrade_ha_repo?
                  .alert.alert-success
                    = icon_tag "check",
                      t(".ha_repo_present"),
                      class: "fa-fw"
                - else
                  .alert.alert-danger
                    = icon_tag "exclamation",
                      t(".ha_repo_missing"),
                      class: "fa-fw"

              - unless upgrade_ha_repo_needed? || upgrade_ceph_repo_needed?
                .alert.alert-success
                  = icon_tag "check",
                    t(".no_additional_repos"),
                    class: "fa-fw"

        .panel-footer
          .row
            .col-lg-3
              = progress_steps @current_step, @min_step, @max_step

            .col-lg-9.text-right
              .btn-group{ role: "group" }
                = upgrade_repocheck_button
