.row
  .col-lg-12
    = form_tag repos_upgrade_path, method: "post" do
      .panel.panel-default
        .panel-heading
          %h2
            = t("installer.upgrades.header", product: branding_config.page_title)

        .panel-plain.wizard
          = render partial: "nav", locals: { active: :repos }

          .wizard-body.col-lg-9
            %h2
              = t(".header")

            %p
              = t(".description")

            %p
              - if upgrade_ceph_repo_needed?
                .alert{ class: alert_type(upgrade_ceph_repo?) }
                  = t(".ceph_repo")
              - if upgrade_ha_repo_needed?
                .alert{ class: alert_type(upgrade_ha_repo?) }
                  = t(".ha_repo")

        .panel-footer
          .row
            .col-lg-3
              = progress_steps @current_step, @min_step, @max_step

            .col-lg-9.text-right
              .btn-group{ role: "group" }
                = check_repos_button
