- content_for :javascripts do
  = javascript_include_tag "upgrader"

.row
  .col-lg-12
    = form_tag restore_upgrade_path, method: "post" do
      .panel.panel-default
        .panel-heading
          %h2
            = t("installer.upgrades.header", product: branding_config.page_title)

        .panel-plain.wizard
          = render partial: "nav", locals: { active: :restore }

          .wizard-body.col-lg-9
            %h2
              = t(".header")

            %p
              = t(".description")

            %p
              = t(".password")

            .upgrade{ data: { status_check: true } }
              - @steps.each do |step|
                .alert.alert-info.hidden{ data: { step: step } }
                  = icon_tag "spin",
                    t("installer.upgrades.restore.#{step}"),
                    class: "fa-fw fa-spinner"

              .alert.alert-danger.hidden
                = icon_tag "exclamation",
                  t(".failed"),
                  class: "fa-fw"

              .alert.alert-success.hidden
                = icon_tag "check",
                  t(".success"),
                  class: "fa-fw"

        .panel-footer
          .row
            .col-lg-3
              = progress_steps @current_step, @min_step, @max_step

            .col-lg-9.text-right
              .btn-group{ role: "group" }
                = upgrade_continue_button(true)
