.row
  .col-lg-12
    = form_tag start_upgrade_path, multipart: true, method: "post" do
      .panel.panel-default
        .panel-heading
          %h2
            = t("installer.upgrades.header", product: branding_config.page_title)

        .panel-plain.wizard
          = render partial: "nav", locals: { active: :start }

          .wizard-body.col-lg-9
            %h2
              = t(".header")

            %p
              = t(".description")

            %p
              = file_field_tag "file"

        .panel-footer
          .row
            .col-lg-3
              = progress_steps @current_step, @min_step, @max_step

            .col-lg-9.text-right
              .btn-group{ role: "group" }
                = link_to icon_tag(:chevron_left, t(".cancel")),
                  installer_root_path,
                  class: "btn btn-default"
                = upgrade_continue_button
