.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        %h2
          = t(".header")

      .panel-body.text-center
        .col-lg-6
          %h2
            = link_to installer_path do
              = icon_tag :cloud, nil, class: "fa-5x"
              %p
                = t(".install")

        -#.col-lg-4
          %h2
            = link_to backups_path do
              = icon_tag :archive, nil, class: "fa-5x"
              %p
                = t(".restore")

        .col-lg-6
          %h2
            = link_to upgrade_path do
              = icon_tag :cloud_upload, nil, class: "fa-5x"
              %p
                = t(".upgrade")
