.row
  .col-xs-12
    %h2.page-header
      = t(".title")
      .btn-group.pull-right
        .btn.btn-primary{ data: { toggle: "modal", target: "#create_backup_modal" } }
          = t(".create_image")
        .btn.btn-default{ data: { toggle: "modal", target: "#upload_backup_modal" } }
          = t(".upload_image")
.panel.panel-default
  %table.table
    %thead
      %tr
        %th.col-xs-3
          = t(".image_name")
        %th.col-xs-3
          = t(".version")
        %th.col-xs-3
          = t(".created_at")
        %th.col-xs-3
          = t(".file_size")
        %th.col-xs-1
        %th.col-xs-1
        %th.col-xs-1
    %tbody
      - @backups.each do |backup|
        %tr
          %td
            = backup.name
          %td
            = backup.version
          %td
            = l(backup.created_at, format: :long)
          %td
            = number_to_human_size(backup.size)
          %td
            = download_backup_button(backup)
          %td
            = restore_backup_button(backup)
          %td
            = delete_backup_button(backup)

.modal.fade{ id: "create_backup_modal" }
  .modal-dialog
    .modal-content
      .modal-header
        .btn.close{ data: { dismiss: "modal" } }
          &times
        %h2
          = t(".create_image")
      = form_for new_backup, url: backups_path do |f|
        .modal-body
          %h3
            = t(".enter_name")
          %p
            = f.text_field(:name, class: "form-control")
        .modal-footer
          .row
            .btn.btn-default{ data: { dismiss: "modal" } }
              = t("cancel")
            = f.submit(class: "btn btn-success")

.modal.fade{ id: "upload_backup_modal" }
  .modal-dialog
    .modal-content
      .modal-header
        .btn.close{ data: { dismiss: "modal" } }
          &times
        %h2
          = t(".upload_image")
      .modal-body
        %input{ name: "api_backup[file]", type: "file" }
      .modal-footer
        .btn.btn-default{ data: { dismiss: "modal" } }
          = t("cancel")
