!!!
%html{ :lang => :en }
  %head
    %title
      = meta_title

    = meta_tags

    - registered_stylesheets.each do |stylesheet|
      = stylesheet_link_tag stylesheet

    = yield :stylesheets

    - registered_javascripts.each do |javascript|
      = javascript_include_tag javascript

    = yield :javascripts

    /[if lt IE 9]
      = stylesheet_link_tag "ie"
      = javascript_include_tag "ie"

    = favicon_tag

  %body{ class: params[:controller].tr("/", "-") }
    %header
      = render :partial => "shared/header"

    %section
      .container#content
        = render :partial => "shared/flashes"
        = yield

    %footer
      = render :partial => "shared/footer"

    %script#message-template{ :type => "text/x-handlebars-template" }
      .alert{ :class => "{{classes}}" }
        {{#if dismiss}}
        %button.close{ :type => "button", "data-dismiss" => "alert", "aria-hidden" => true }
          &times;
        {{/if}}

        {{message}}

    .modal.fade{ id: "keybindings_modal" }
      .modal-dialog
        .modal-content
          .modal-header
            .btn.close{ data: { dismiss: "modal" } }
              &times
            %h2
              = t(".keybindings")
          .modal-body
            %table.table.table-hover
              %thead
                %th.col-xs-3
                  = t(".key")
                %th.col-xs-9
                  = t(".description")
              %tbody
              - keybindings.each do |key, desc|
                %tr
                  %td.col-xs-3
                    %b
                      = key.to_s.gsub("_", " ")
                  %td.col-xs-9
                    = desc
          .modal-footer
            .btn.btn-default{ data: { dismiss: "modal" } }
              = t("cancel")
