<% @chassisUnits.each do |chassis| %>
<li>
    <a class='toggle with_label' href='#'
       id='chassis_<%= chassis.attributes["id"] %>_toggle'
       rel='chassis_<%= chassis.attributes["id"] %>_details'>
        DN: <%= chassis.attributes["dn"] %>
    </a>
    <ul id="chassis_<%= chassis.attributes["id"] %>_details" class="even" style="display: none;">
  <% @blades.each do |blade| %>
    <% if blade.attributes["chassisId"] == chassis.attributes["id"]%>
        <li>
            <%= check_box_tag(blade.attributes["dn"]) %>
            DN: <%= blade.attributes["dn"] %>
            <ul>
                <li>Profile: <%= blade.attributes["assignedToDn"]%></li>
                <li>User Label: <%= blade.attributes["usrLbl"]%></li>
                <li>Total Memory: <%= blade.attributes["totalMemory"]%></li>
                <li>Model: <%= blade.attributes["model"]%></li>
                <li>Available Memory: <%= blade.attributes["availableMemory"]%></li>
                <li>Number of CPUs: <%= blade.attributes["numOfCpus"]%></li>
                <li>Number of Cores: <%= blade.attributes["numOfCores"]%></li>
                <li>Number of Network Interfaces: <%= blade.attributes["numOfEthHostIfs"]%></li>
            </ul>
        </li>
    <% end %>
  <% end %>
    </ul>
</li>   
<% end %>
