<% @rackUnits.each do |rackUnit| %>
<li><%= check_box_tag(rackUnit.attributes["dn"]) %>
	 DN: <%= rackUnit.attributes["dn"] %>
	<ul>
		<li>Profile: <%= rackUnit.attributes["assignedToDn"]%></li>
		<li>User Label: <%= rackUnit.attributes["usrLbl"]%></li>
		<li>Total Memory: <%= rackUnit.attributes["totalMemory"]%></li>
		<li>Model: <%= rackUnit.attributes["model"]%></li>
		<li>Available Memory: <%= rackUnit.attributes["availableMemory"]%></li>
		<li>Number of CPUs: <%= rackUnit.attributes["numOfCpus"]%></li>
		<li>Number of Cores: <%= rackUnit.attributes["numOfCores"]%></li>
		<li>Number of Network Interfaces: <%= rackUnit.attributes["numOfEthHostIfs"]%></li>
	</ul>
</li>
<% end %>
