<% if false %>
# Copyright 2013 SUSE, LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Original author: Drew Harris
#
<% end %>
<% form_tag(:action => "update") do %>
<input type="submit" name="Submit" value="Update" />
	<ul >
		<% if @compute == true %>
		<li style="display: inline-block; margin: 0 12px 0 0;">
			<%= radio_button_tag(:updateAction, "compute") %> Set as Compute Node
		</li>
		<% end %>
		<% if @storage == true %>
		<li style="display: inline-block; margin: 0 12px 0 0;">
			<%= radio_button_tag(:updateAction, "storage") %> Set as Storage Node
		</li>
		<% end %>
		<li style="display: inline-block; margin: 0 12px 0 0;"><%= radio_button_tag(:updateAction, "reboot") %> Reboot</li>
		<li style="display: inline-block; margin: 0 12px 0 0;"><%= radio_button_tag(:updateAction, "up") %> Power Up</li>
		<li style="display: inline-block; margin: 0 12px 0 0;"><%= radio_button_tag(:updateAction, "down") %> Power Down</li>
	</ul>
	<ul>
		<% @chassisUnits.elements.each('configResolveClass/outConfigs/equipmentChassis') do |chassis| %>
		<li><a class='toggle with_label' href='#' id='chassis_<%= chassis.attributes["id"] %>_toggle' rel='chassis_<%= chassis.attributes["id"] %>_details'>DN: <%= chassis.attributes["dn"] %></a>
			<ul id="chassis_<%= chassis.attributes["id"] %>_details" class="even" style="display: none;">
				<% @ucsDoc.elements.each('configResolveClass/outConfigs/computeBlade') do |blade| %>
				<% if blade.attributes["chassisId"] == chassis.attributes["id"]%>
				<li><%= check_box_tag(blade.attributes["dn"]) %>
					 DN: <%= blade.attributes["dn"] %>
					<ul>
						<li>Profile: <%= blade.attributes["assignedToDn"]%></li>
						<li>User Label: <%= blade.attributes["usrLbl"]%></li>
						<li>Total Memory: <%= blade.attributes["totalMemory"]%></li>
						<li>Model: <%= blade.attributes["model"]%></li>
						<li>Available Memory: <%= blade.attributes["availableMemory"]%></li>
						<li>Number of CPUs: <%= blade.attributes["numOfCpus"]%></li>
						<li>Number of Cores: <%= blade.attributes["numOfCores"]%></li>
						<li>Number of Network Interfaces: <%= blade.attributes["numOfEthHostIfs"]%></li>
					</ul>
				</li>
				<% end %>
				<% end %>
			</ul>
		</li>	
		<% end %>
		<% @rackUnits.elements.each('configResolveClass/outConfigs/computeRackUnit') do |rackUnit| %>
		<li><%= check_box_tag(rackUnit.attributes["dn"]) %>
			 DN: <%= rackUnit.attributes["dn"] %>
			<ul>
				<li>Profile: <%= rackUnit.attributes["assignedToDn"]%></li>
				<li>User Label: <%= rackUnit.attributes["usrLbl"]%></li>
				<li>Total Memory: <%= rackUnit.attributes["totalMemory"]%></li>
				<li>Model: <%= rackUnit.attributes["model"]%></li>
				<li>Available Memory: <%= rackUnit.attributes["availableMemory"]%></li>
				<li>Number of CPUs: <%= rackUnit.attributes["numOfCpus"]%></li>
				<li>Number of Cores: <%= rackUnit.attributes["numOfCores"]%></li>
				<li>Number of Network Interfaces: <%= rackUnit.attributes["numOfEthHostIfs"]%></li>
			</ul>
		</li>
		<% end %>
	</ul>
<input type="submit" name="Submit" value="Update" />
<% end %>
