- if dependencies.nil? || dependencies.empty?
  = t(".no_dependencies")
- else
  - dependencies.map { |dep| all_proposals["#{dep["barclamp"]}_#{dep["inst"]}"] }.each do |dep|
    %div
      - status = dep.real_status(@active)
      %span.led{ :class => status, :title => t(status, :scope => "state", :default => status.titlecase), "data-node" => dep.name }
      %span
        = dep.barclamp
        = dep.name
