- if dependencies.nil? || dependencies.empty?
  = t(".no_dependencies")
- else
  - dependencies.map { |dep| all_proposals["#{dep["barclamp"]}_#{dep["inst"]}"] }.each do |proposal_dep|
    %div
      - status = proposal_dep.real_status(@active)
      - barclamp_instance = "#{proposal_dep["barclamp"]}_#{proposal_dep["inst"]}"
      = display_led_for(status, barclamp_instance, status_proposal_path(:id => barclamp_instance, :barclamp => proposal_dep.barclamp, :name => proposal_dep.name))
      %span
        = proposal_dep.barclamp
        = proposal_dep.name
