- if dependencies.nil? || dependencies.empty?
  = t(".no_dependencies")
- else
  - dependencies.map { |dep| all_proposals["#{dep["barclamp"]}_#{dep["inst"]}"] }.each do |dep|
    %div
      - status = dep.real_status(@active)
      - barclamp_instance = "#{dep["barclamp"]}_#{dep["inst"]}"
      = display_led_for(status, barclamp_instance, status_proposal_path(:id => barclamp_instance, :barclamp => dep.barclamp, :name => dep.name))
      %span
        = dep.barclamp
        = dep.name
