.row
  .col-xs-12
    %h1.page-header
      = t(".title")

- @sections.each do |section|
  .panel.panel-default
    .panel-heading
      %h2
        = section.heading

    %ul.list-group
      - section.items.each do |item|
        %li.list-group-item
          - if item.link?
            = link_to item.text, item.link, target: "_blank"
          - else
            = item.text

          - if item.pdf?
            = link_to item.pdf, target: "_blank", title: t(".pdf") do
              = icon_tag(:file_pdf_o)

.panel.panel-default
  .panel-heading
    %h2
      = t(".online_section")

  %ul.list-group
    %li.list-group-item
      = t(".online", url: "https://crowbar.github.io").html_safe
