= attributes_for @proposal do
  .panel-sub
    = header @dep_raw, true

  .panel-body
    = string_field :activation_key
    %span.help-block
      = t(".activation_key_hint")

    = string_field :manager_server
    %span.help-block
      = t(".manager_server_hint")
