= attributes_for @proposal do
  .panel-sub
    = header show_raw_deployment?, true

  .panel-body
    %span.help-block.alert.alert-info
      = t(".manual_steps", manager_url: suse_manager_client_url, rpm_path: suse_manager_client_rpm, install_command: suse_manager_client_install).html_safe

    = string_field :bootstrap_script_url
    %span.help-block
      = t('.bootstrap_script_url_hint')
