- if @node.bmc_set?
  = link_to t(".identify"),
    hit_nodes_path(@node.handle, "identify"),
    class: "btn btn-default",
    data: { blockui_click: t(".blockui_identify") }

- unless @node.admin?
  - if @node[:platform_family] != 'windows' || @node.bmc_set?
    %button.btn.btn-default.dropdown-toggle{ type: "button", data: { toggle: "dropdown" } }
      = t(".actions")
      %span.caret

    %ul.dropdown-menu{ role: "menu" }
      - if @node[:platform_family] != 'windows'
        %li{ role: "presentation" }
          = link_to t(".reboot"),
            hit_nodes_path(@node.handle, "reboot"),
            role: "menuitem",
            data: { blockui_click: t(".blockui_reboot"), confirm: t("are_you_sure") }
        %li{ role: "presentation" }
          = link_to t(".shutdown"),
            hit_nodes_path(@node.handle, "shutdown"),
            role: "menuitem",
            data: { blockui_click: t(".blockui_shutdown"), confirm: t("are_you_sure") }
        %li.divider{ role: "presentation" }
      - if @node.bmc_set?
        %li{ role: "presentation" }
          = link_to t(".poweron"),
            hit_nodes_path(@node.handle, "poweron"),
            role: "menuitem",
            data: { blockui_click: t(".blockui_poweron"), confirm: t("are_you_sure") }
      - if @node[:platform_family] != 'windows' || @node.bmc_set?
        %li{ role: "presentation" }
          = link_to t(".powercycle"),
            hit_nodes_path(@node.handle, "powercycle"),
            role: "menuitem",
            data: { blockui_click: t(".blockui_powercycle"), confirm: t("are_you_sure") }
        %li{ role: "presentation" }
          = link_to t(".poweroff"),
            hit_nodes_path(@node.handle, "poweroff"),
            role: "menuitem",
            data: { blockui_click: t(".blockui_poweroff"), confirm: t("are_you_sure") }
